/* resolveu o problema de margem */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fontes */
    .freeman-regular {
        font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
    .poetsen-one-regular {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

/*Estilo Geral*/

.botaoContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #DF000B;
    border: 0;
    border-radius: 30px; /*arredonda a borda*/
    cursor: pointer; /*Quando passar por cima vira ponteiro igual links*/
    transition: .2s;
    color: white;
    
}

button:hover{
    box-shadow: #DF000B; /*Sombrinha no botão*/
    transform: scale(1.05);
}

.flex{
    display: flex;
}

body{
    background-color: white;
    min-height: 100vh; /*100vh ocupa o espaço todo da tela*/
    transition: .5s;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Pra mexer no cabeçalho */
header{
    padding: 40px 4%; /* 40 px pra cima, 4% pros lados*/
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #342323; /*Trocar a cor do link*/
    text-decoration: none; /*Tirando o sublinhado*/
    display: inline-block; /*Sem isso n funciona o hover*/
    transition: .2s; /*Suaviza a animação da transição*/
}

/*Quando passar o mouse por cima dos links*/
header a:hover{
    color:#DF000B;
    transform: scale(1.05); /*Faz dar zoom quando passa o mouse por cima*/

}


header nav ul{
    list-style-type: none; /*Tirar as bolinhas do link*/
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


header{
    border: 2px solid black;
}

.trilho{
    width: 80px;
    height: 35px;
    background-color: #c3c3c3;
    border-radius: 30px;
    position:relative /*pra poder mexer no indicador*/
    
}

.trilho .indicador{
    width: 40px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transform: scale(.7); /*pra ele ficar menor que o pai*/
    cursor: pointer;
    position: absolute;
    left:0px;
    transition: .3s; /*animação*/
        
}

/*Estilo sobreJogo*/

section.sobreJogo .flex {
    align-items: center;
    
}

section .txtSobreJogo{
    padding: 40px 4%;
}

.flex .txtSobreJogo{

    text-align: justify; 
    color:#342323;
    
}

.txtSobreJogo h2{
    font-size: 40px;
    color:#DF000B;
    text-align:center;
   margin-bottom: 30px;
}


#fotoJogo{
    border-radius: 30px;
    margin: 30px 50px;
    border: 2px solid #DF000B;
}



/*Estilo comoJogar*/


section .comoJogar{
    padding: 40px 4%;
}

section .flex .txtComoJogar{
    color:#342323;
}

.txtSobreJogo span{
    color:#342323;
}

.interface .flex .txtComoJogar h2{
    text-align: center;
    color: #DF000B;
    line-height: 40px;
}

.interface .flex h2{
    line-height: 40px;
}

.flex .txtComoJogar .botaoCima{
    align-items: center;
}

 .bi{
    font-size: 30px;
}

.iconesComandos span{
    font-size: 20px;
}

.flex .iconesComandos .botaoCima{
    align-items: center;
}

.flex .iconesComandos .botaoBaixo{
    align-items: center;
}

#textoWASD{
    text-align: center;
    color: #342323;
}

.botaoCima{
   justify-content: center;
   
}

.botaoBaixo{
    justify-content: center;
    gap: 10px;
}

.textoBotaoBaixo{
   margin-left: 190px;
}

h3{
    margin: 40px 0;
    
}

.txtComandos h3{
    text-align: center;
    color: #342323;
}

.txtComandos{
    width: 100%;
    padding: 40px 4%;
}

.iconesComandos .bi, .iconesComandos span{
    color: #342323;
}

.iconesComandos .botaoBaixo{
    text-align: center;
}

.iconesComandos .textoBotaoBaixo{
    text-align: center;
}
.iconesComandos .botaoCima{
    text-align: center;
}
.botaoCima{
      margin-left: 159px; 
}

.flex .iconesComandos{
    width: 100%;
    padding:0 4%;
   
}


/*MODO ESCURO*/

.trilho{
    width: 80px;
    height: 35px;
    background-color: #c3c3c3;
    border-radius: 30px;
    position:relative /*pra poder mexer no indicador*/
    
}

.trilho .indicador{
    width: 40px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transform: scale(.7); /*pra ele ficar menor que o pai*/
    cursor: pointer;
    position: absolute;
    left:0px;
    transition: .3s; /*animação*/
        
}

.trilho.dark{
    background-color: gray;
}

.trilho.dark .indicador{
    left:40px;
    background-color: black;
}


body.dark{
    background-color: black;

}

body.dark a{
    color:#f8f8ff ;
}
header.dark{
    border-bottom:2px solid #f8f8ff ;
}

.linhaRodape2.dark p {
    color: #f8f8ff;
}

.sobreJogo.dark p{
    color:#f8f8ff;
}
.sobreJogo.dark span{
    color:#f8f8ff;
}

.comoJogar.dark p{
    color:#f8f8ff;
}

.iconesComandos.dark .bi{
    color:#f8f8ff;
}

.txtComandos.dark h3, .txtComandos.dark span, .txtComandos.dark #textoWASD{
    color:#f8f8ff;
}


/*Animação do busao*/

#busDiv{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bus{
    position: relative;
}

.busStop{
    position: relative;
    bottom: 12px;
}


/*Estilo rodapé*/

footer{
    padding: 30px 2%;
    box-shadow: 0 0 40px 10px gray;
}

footer .flex{
    align-items: center;
    justify-content: space-between;
}

footer p i{
    color:#DF000B;
    font-size: 25px;
}

footer p a{
    color: #342323;
    text-decoration: none;
    font-size: 15px;
    border-right: 2px solid gray;
    padding-right: 20px;
}

.linhaRodape1{
    margin-left: 2px solid gray;
}

.linhaRodape2{
    display: flex;
    justify-content: end;
    color:#342323;
    font-size: 14px;
}

footer .linhaRodape2 p{
    border-right: 2px solid gray;
    padding-right: 20px;
    font-style: italic;
}