*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


/*Estilo Geral*/

.botaoContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #DF000B;
    border: 0;
    border-radius: 30px; /*arredonda a borda*/
    cursor: pointer; /*Quando passar por cima vira ponteiro igual links*/
    transition: .2s;
    color: white;
    
}

button:hover{
    box-shadow: #DF000B; /*Sombrinha no botão*/
    transform: scale(1.05);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/*Cabeçalho*/

header{
    padding: 40px 4%; /* 40 px pra cima, 4% pros lados*/
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #f8f8ff; /*Trocar a cor do link*/
    text-decoration: none; /*Tirando o sublinhado*/
    display: inline-block; /*Sem isso n funciona o hover*/
    transition: .2s; /*Suaviza a animação da transição*/
}

/*Quando passar o mouse por cima dos links*/
header a:hover{
    color:#DF000B;
    transform: scale(1.05); /*Faz dar zoom quando passa o mouse por cima*/

}


header nav ul{
    list-style-type: none; /*Tirar as bolinhas do link*/
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


header{
    border: 2px solid #f8f8ff;
}


#jogo{
    background-color: white;
    border-radius: 15px;
}

.containerJogo{
    padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerJogo canvas, #start, #end{
    position: absolute;
}

#start{
    z-index: 2;
    text-align: center;
    background-color: #380552;
    opacity: 0.8;
    border: solid 5px gray;
    border-radius: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#end{
    z-index: 2;
    text-align: center;
    background-color: #380552;
    opacity: 0.8;
    border: solid 5px gray;
    border-radius: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    display: none;
}

#pontuacao{
    z-index: 3;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    padding: 10px 10px;
}

.audio{
    color: white;
    font-size: xx-large;
    padding: 40px 0 0 15px;
}